body{
    background-color: #f5f5dd;
}
.square1 , .square2 , .square3 , .square4{
    width: 100px;
    height: 100px;
    background-color: black;
}
.square2{
    opacity: 0.8;
}
.square3{
    opacity: 0.4;
}
.square4{
    opacity: 0.2;
}
